@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
	--main-title-color: #2F2F2F;
	--main-desc-color: #C0C0C0;
	--hover-title-color: #4f4f4f;

	--bg-color-white: #FFFFFF;
	--bg-color-gray: #EFEFEF;
	--main-color-slide: #FFFFFF;
}

* {
    box-sizing: border-box;
	font-family: 'Kanit', sans-serif;
}
body {
    background-color: var(--bg-color-gray);
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: auto;
}
header {
    height: 70px;
    background-color: var(--bg-color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header ul {
    list-style: none;
    display: flex;
    padding: 0;
}
header ul a {
    text-decoration: none;
    color: var(--main-title-color);
    height: 70px;
    line-height: 70px;
    padding: 0 10px;
}
header ul a:first-child {
    padding-left: 0;
}
header ul a.active,
header ul a:hover {
    color: #2079cc;
}

header .header--right span {
    margin-right: 20px;
}
header .header--right a {
    text-decoration: none;
    background-color: rgb(224, 39, 39);
    padding: 2px 17px;
    color: #FFFFFF;
    border-radius: 20px;
}
header .header--right a:hover {
    background-color: rgb(247, 41, 41);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.content h1 {
    color: var(--main-title-color);
}
.content h1 span {
    color: #2079cc;
}

/********* Home ***********/

.data-count {
  display: flex;
}
.data-count--box {
    width: 240px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 10px;
}
.data-count--box:last-child {
    margin-right: 0;
}
.data-count--box i {
    width: 80px;
    height: 80px;
    color: #fff;
    border-radius: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-count--box:nth-child(1) i {
    background-color: #2079cc;
}
.data-count--box:nth-child(2) i {
    background-color: #e74c3c;
}
.data-count--box:nth-child(3) i {
    background-color: #00bc8c;
}
.data-count--box:nth-child(4) i {
    background-color: #f39c12;
}
.data-count--box .data-count--box-info {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.data-count--box .data-count--box-info p {
    font-size: 15px;
    color: #616161;
}
.data-count--box .data-count--box-info span {
    font-size: 18px;
    height: 35px;
    font-weight: bold;
    color: #000000;
}


/********* Start-Post ***********/

/* Post-Home */
.btn-add {
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 20px;
    padding: 7px 15px;
    background-color: #1ecf8b;
    color: #fff;
    border-radius: 20px;
}
.btn-add:hover {
    background-color: #33e29f;
}
.post-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 8px 15px;
}
.post-filter {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
}
.post-filter form {
    flex: 1;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    padding: 3px;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-right: 20px;
}
.post-filter form input {
    flex: 1;
    height: 35px;
    padding-left: 10px;
    font-size: 18px;
    outline: 0;
    border: none;
    background-color: inherit;
}
.post-filter form i {
    font-size: 24px;
    margin-right: 5px;
    cursor: pointer;
}
.post-filter .filter-category {
    display: flex;
    align-items: center;
}
.post-filter .filter-category p {
    margin-right: 5px;
    font-size: 16px;
}
.post-filter select {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 5px;
    outline: 0;
}
.post-filter select option {
    font-size: 18px;
    height: auto;
}
.post-feed-content {
    width: 100%;
    height: 650px;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.post-feed-content::-webkit-scrollbar {
    display: none;
}

.post-feed-content table {
    width: 100%;
}
table thead tr th {
    text-align: center;
    background-color: var(--main-desc-color);
    color: #000;
    border-radius: 5px;
}
table thead tr th:nth-child(1) {
    width: 60px;
}
table thead tr th:nth-child(3) {
    width: 120px;
}
table thead tr th:nth-child(4) {
    width: 180px;
}
table thead tr th:nth-child(5) {
    width: 120px;
}
table thead tr th:nth-child(6) {
    width: 180px;
}

table tbody tr td {
    text-align: center;
    background-color: var(--bg-color-gray);
    color: #000;
    border-radius: 5px;
    overflow: hidden;
    height: 57px;
}
.feed tr td p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.span_status {
    display: flex;
    justify-content: center;
    align-items: center;
}
.span_status span {
    font-size: 14px;
    font-weight: bold;
    padding: 1px 14px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
}
.span_status.active span {
    background-color: #1ecf8b;
}
.span_status.desative span {
    background-color: rgb(224, 39, 39);
}
.td-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.td-btns form button {
    border: none;
    background-color: #e84118;
    width: 38px;
    height: 34px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
}
.td-btns .btn {
    text-decoration: none;
    border-radius: 5px;
    width: 38px;
    height: 34px;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.td-btns .btn i {
    text-decoration: none;
    margin: 0 5px;
    font-size: 16px;
    color: #fff;
}
.td-btns .btn.edit {
    background-color: #fbc531;
}
.td-btns .btn.view {
    background-color: #00a8ff;
}


/* Post-Create */
.form-post {
    width: 100%;
    background-color: #FFFFFF;
    padding: 18px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flash {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: #fff;
    padding: 10px 10px;
    margin-left: 150px;
}
.flash.error {
    background-color: rgb(224, 39, 39);
}
.flash.success {
    background-color: #33e29f;
}
.input-area {
    width: 100%;
    display: flex;
    margin: 5px 0;
}
.input-area--title {
    width: 150px;
    text-align: end;
    padding-right: 10px;
    font-size: 18px;
}
.input-area--field {
    flex: 1;
}
.input-area--field select {
    width: 150px;
    font-size: 16px;
}
.input-area--field input {
    width: 100%;
    height: 30px;
    outline: 0;
}
.input-area--field input[type=submit] {
    width: 170px;
    height: 40px;
    background-color: #1ecf8b;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
}
.input-area--field input[type=submit]:hover {
    background-color: #33e29f;
}
.input-area--field input[type=checkbox] {
    width: 20px;
}
/********* End-Post ***********/

/********* Start-User ***********/
.user-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px 17px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}
.user-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-decoration: none;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
    font-weight: bold;
    color: #f3f3f3;
}
.user-box:hover {
    opacity: 0.9;
}
.user-box p {
    height: 3px;
    font-size: 20px;
}
.user-box span {
    padding-left: 10px;
}
.btn-del-relativo {
    position: relative;
}
.btn-del-absolute {
    position: absolute;
    bottom: 23px;
    left: 345px;
    width: 170px;
    height: 40px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
}
.btn-del-absolute:hover {
    opacity: 0.9;
}
/********* End-User ***********/


/********* Start-Slider ********/
.slider-content {
    width: 100%;
    background-color: #fff;
    min-height: 220px;
    padding: 20px;
}

